<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link href="/static/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" /> 
  <title>Love Vocabulary</title>
</head>
  <body id="jobs">
    <div id="main">
      <div id="header">
        <h1 id="title"><a href="/">Love Vocabulary</a></h1>
        <p>
          Let's start learning language from study vocabulary. 
          Below are courses you can study! 
          {% if user %}
            Hello {{ user.nickname }}! You can <a href="/courses/new">create</a> or <a href="/courses/?style=self">manage</a> your course.
            <a href="{% auth_logout_url %}">Logout from here.</a>
          {% else %}
            Please <a href="{% auth_login_url %}">login</a> to create or manage your course. 
          {% endif %}
        </p>
        <a id="rss" href="#">RSS Jobs feed</a>
      </div>
      <div>
      	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>