<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<link href="/static/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" /> 
	<link href="/static/stylesheets/normal.css" media="screen" rel="stylesheet" type="text/css" /> 
  <title>Love Vocabulary</title>
</head>
  <body id="jobs">
    <div id="main">
      <div id="header">
        <h1 id="title"><a href="/">Love Vocabulary</a></h1>
        <p>
          Let's start learning language from study vocabulary. Use our mobile client to help you master vocabulary very effecientlly. 
          We use Google dictionary service to help translate vocabularies. 
          So we support languages that was supported by <a href="#">Google dictionay service</a>. 
          Below are courses you can study, also <a href="/courses/new">create new course</a> is welcomed!
        </p>
        <a id="rss" href="#">RSS Jobs feed</a>
      </div>
      <div>
      	{% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>